

if index=="home"
  include home.jade

if index=="why"
  include why.jade

if index=="what"
  include what.jade

if index=="ajax1"
  include ajax1.jade

if index=="form"
  include form.jade

if index=="suscribe"
  include suscribe.jade
