div(class="box col-xs-12 col-sm-12 col-md-10 col-lg-8")
  h1 About
  div(class="box4")
    p
      | Ababool is a personal project of <a href="https://twitter.com/CiroArtigot" target="blank">@ciroartigot</a>
    p
      | You can contact me via <a href="https://twitter.com/CiroArtigot" target="blank">Twitter</a>,
      | <a href="https://es.linkedin.com/in/ciroartigot" target="blank">Linked In</a>
