

include blog/contents.jade


if index=="home"
  include sections/home.jade

if index=="what"
  include sections/what.jade

if index=="how"
  include sections/how.jade

if index=="wow"
  include wow/wow.jade

if index=="with"
  include sections/with.jade

if index=="start"
  include sections/start.jade

if index=="license"
  include footer/license.jade

if index=="about"
  include footer/about.jade

if index=="contact"
  include footer/contact.jade

if index=="feedbacks"
  include feedbacks/feedbacks.jade

if index=="plugins"
  include plugins.jade

if index=="sitemap"
  include footer/sitemap.jade

if index=="donate"
  include donate.jade

if index=="transitions"
  include wow/transitions.jade

if index=="transitions2"
  include wow/transitions2.jade

if index=="map"
  include wow/map.jade

if index=="youtube"
  include wow/youtube.jade

if index=="ajax1"
  include wow/ajax1.jade

if index=="form"
  include feedbacks/form.jade

if index=="suscribe"
  include wow/suscribe.jade

if index=="navigator"
  include navigator/navigator.jade

if index=="left"
  include navigator/left.jade

if index=="right"
  include navigator/right.jade

if index=="up"
  include navigator/up.jade

if index=="down"
  include navigator/down.jade




if index=="mainmenu"
  include mainmenu.jade

if index=="es"
  include es/esp.jade
