div(class="box col-xs-12 col-sm-12 col-md-10 col-lg-8 darkbox")

    h1 Contact us

    div(class="box2")

      h3 Social

      h3 Discussions

      h3 Email / contact

      h3 Issues

      h3 Feedbacks
