
div(class="box col-xs-12 col-sm-12 col-md-10 col-lg-8")
  h1 ababool
  h3
    | An open source, creative and smart<br/>
    | MEAN Javascript Full-Stack Solution<br/>
    | for dreaming Single Page Web Applications
