
div(class="box col-xs-12 col-sm-12 col-md-10 col-lg-8")
  h1 Ababool
  h3
    | An open source, creative and smart<br/>
    | MEAN Javascript Full-Stack Solution<br/>
    | for dreaming Single Page Web Applications

  h3 Ababool uses:
  ul(class="ababool-list")
    li Nodejs
    li Express
    li Mongodb
    li Angularjs
    li Sass
    li Jade HTML
