div(class="box col-xs-12 col-sm-12 col-md-10 col-lg-8 darkbox")
  h1 How
  h3
    | Useful documentation to work with Ababool

  ul(class="list-group list-group-black")
    li(class="list-group-item")
      h4 Start and installation
      | <p>Ababool is a MEAN Full-Satck solution, do you must install NodeJS and MongoDB before.</p>
      button(class="btn bt-info"
      ng-click="gotopage('what',10)"
      ) Start and installation
