div(class="box col-xs-12 col-sm-12 col-md-10 col-lg-8 darkbox")
  h1 With you
  h3
    | Ababool needs your cooperation!

  div(class="box2")

    p
      | Ababool is an open source and free project.
      | From Ababool we seek your cooperation, to help to extend the Ababool functionality.

    h3 Social

    h3 Suscribe

    h3 Discussions

    h3 Email / contact

    h3 Issues

    h3 Feedbacks

    h3 Donate
