div(class="box col-xs-12 col-sm-12 col-md-10 col-lg-8 darkbox")
  h1 With you
  h3
    | Ababool needs your cooperation!

  div(class="box3")

    h4 Social
    p
      | Contact us on Twitter: <a href="https://twitter.com/ababooljs" target="blank">@ababooljs</a>

    h4 Discussions
    p
      | <a href="https://www.linkedin.com/grp/home?gid=8478122" target="blank">Discussion group</a>
      | on Linked In

    h4 Email
    p
      | You can contact us by email: <br/>
      | <a href="mailto:info@algosemueve.es" target="blank">info@algosemueve.es</a>

    h4 Issues
    p
      | Please submit issues to
      | <a href="https://github.com/CiroArtigot/ababool/issues" target="blank">Git Hub</a>

    h4 Feedbacks
    p
      | <span class="link" ng-click="gotopage('feedbacks',32)">Give us your feedbacks!</span>
