div(class="box")
  p(class="breadcrumb")
    | This post is published on <a href="/">Ababool</a> > <a href="/blog">Blog</a>

  h1 Hello World

  h3
    | Ababool MEAN Full-Stack is out!

  include ../../../../ababool_plugins/blog/blogdata_amp.jade

  div(class="box4")

    p
      | Every time a page is requested, the page will use a different animation.
    p
      | <br/>To set the page transition add the "animation" property on the <code>config/pages.json</code>

    code config/pages.json
    pre
      | "home" : {
      |   "id" : "page",
      |   "title" : "The title",
      |   "menutitle": "The menu title",
      |   "description": "A descr iption",
      |   "animation" :33
      | }

    h4 Angular ng-click event
    p
      | We can also request a page with a custom animation with the Ababool <code>ng-click</code>.
      | When we use this function we will need to set the page id and the animation number.

    code
      | ng-click="gotopage(pageid,animation)

    pre
      | button(class="btn btn-primary"
      | ng-click="gotopage('pageid',20)"
      | ) Go to page


    a(class="btn btn-primary"
    href="#{conf.general.domain + 'transitions'}"
    target="_blank"
    ) Test transitions here


  include ../../../../ababool_plugins/blog/blogfooter_amp.jade
