div(class="box")
  p(class="breadcrumb")
    | This post is published on <a href="/">Ababool</a> > <a href="/blog">Blog</a>

  h1 Element animations.

  h3
    | You can animate any element of a page.

  include ../../../../ababool_plugins/blog/blogdata_amp.jade

  div(class="box4")

  p(class="mt20")
    | Animate any element of your page.
    | <br/>The element animation will be triggered when the element becomes visible: when the pages loads or scrolling to the element.

  p(class="mt20")
    | To animate a page element add the <code>animated</code> class and specify the animation effect:

  pre
    | p(class="animated" data-animation="bounceInLeft")


  h4(class="mt20") Animate.css
  p
    | We use the <a href="https://github.com/daneden/animate.css" target="_blank">Daniel Eden animate.css cross-browser library of CSS animations</a>, so
    | you can use all the library effects:

  ul
    li bounce
    li flash
    li pulse
    li rubberBand
    li shake
    li headShake
    li swing
    li tada
    li wobble
    li jello
    li bounceIn
    li bounceInDown
    li bounceInLeft
    li bounceInRight
    li bounceInUp
    li bounceOut
    li bounceOutDown
    li bounceOutLeft
    li bounceOutRight
    li bounceOutUp
    li fadeIn
    li fadeInDown
    li fadeInDownBig
    li fadeInLeft
    li fadeInLeftBig
    li fadeInRight
    li fadeInRightBig
    li fadeInUp
    li fadeInUpBig
    li fadeOut
    li fadeOutDown
    li fadeOutDownBig
    li fadeOutLeft
    li fadeOutLeftBig
    li fadeOutRight
    li fadeOutRightBig
    li fadeOutUp
    li fadeOutUpBig
    li flipInX
    li flipInY
    li flipOutX
    li flipOutY
    li lightSpeedIn
    li lightSpeedOut
    li rotateIn
    li rotateInDownLeft
    li rotateInDownRight
    li rotateInUpLeft
    li rotateInUpRight
    li rotateOut
    li rotateOutDownLeft
    li rotateOutDownRight
    li rotateOutUpLeft
    li rotateOutUpRight
    li hinge
    li rollIn
    li rollOut
    li zoomIn
    li zoomInDown
    li zoomInLeft
    li zoomInRight
    li zoomInUp
    li zoomOut
    li zoomOutDown
    li zoomOutLeft
    li zoomOutRight
    li zoomOutUp
    li slideInDown
    li slideInLeft
    li slideInRight
    li slideInUp
    li slideOutDown
    li slideOutLeft
    li slideOutRight
    li slideOutUp



  include ../../../../ababool_plugins/blog/blogfooter_amp.jade
