div(class="box")

  h1 Blog

  div(class="box3")

    ul(class="list-group")

      li(class="list-group-item")
        h4
          a(href="/amp/blog/hello-world") Hello World
        p
          | Ababool MEAN Full-Stack Solution is out!

      li(class="list-group-item")
        h4
          a(href="/amp/blog/to-do") Things to do
        p
          | There will always be many outstanding things to do in Ababool

      li(class="list-group-item")
        h4
          a(href="/amp/blog/working-with-pages") Working with pages
        p
          | Pages are the way that we create front views with Ababool.

      li(class="list-group-item")
        h4
          a(href="/amp/blog/ababool-comments-system") Ababool Comments System
        p
          | Learn how to create a feedbacks/comments system with Ababool

      li(class="list-group-item")
        h4
          a(href="/amp/blog/ababool-restful-api") Ababool as a RESTful API
        p
          | Develop easy RESTful applications with Ababool.
          

      li(class="list-group-item")
        h4
          a(href="/amp/blog/ababool-plugins") Ababool Plugins
        p
          | You can use and create Ababool plugins to increase the project functionality.
