div(class="box col-xs-12 col-sm-12 col-md-12 col-lg-12 lightbox")
  h1 Thanks and used codes
  h3
    | Ababool uses open source codes and inspirations from third people. Here are our thanks.

  include ../../../ababool_plugins/blog/blogdata.jade

  div(class="box4")

    h4(class="mt20") Thanks to Codrops
    p
      | Ababool page transitions are based and inspired on <a rel="nofollow" href="http://tympanus.net/codrops/author/pbotelho/" target="_blank"><strong>Pedro Botelho's</strong></a> article <strong><a rel="nofollow" href="http://tympanus.net/codrops/2013/05/07/a-collection-of-page-transitions/" target="_blank">A Collection of Page Transitions</a></strong>, a showcase collection of various page transition effects using CSS animations.<br />

    h4(class="mt20") Thanks to Joomla
    p
      | After more than 10 years developing with <strong>Joomla</strong>, <strong>Ababool</strong> has inherited many things of it... the thinking maybe.</p>

    h4(class="mt20") Thanks to Animate.css
    p
      | We use the <a href="https://github.com/daneden/animate.css" target="_blank">Daniel Eden animate.css cross-browser library of CSS animations</a>.


    h4(class="mt20") Libraries, projects and used codes

    ul

      li(class="mt20")
        a(href="https://nodejs.org/" target="_blank" rel="nofollow") Node.js
        | <br/>JavaScript runtime built on Chrome's V8 JavaScript engine.

      li(class="mt20")
        a(href="http://expressjs.com/" target="_blank" rel="nofollow") Express
        | <br/> Fast, unopinionated, minimalist web framework for Node.js.

      li(class="mt20")
        a(href="https://angularjs.org/" target="_blank" rel="nofollow") AngularJS
        | <br/> HTML enhanced for web apps!.

      li(class="mt20")
        a(href="https://www.mongodb.org/" target="_blank" rel="nofollow") MongoDB
        | <br/>MongoDB is an open-source document database.


      li(class="mt20")
        a(href="http://gulpjs.com/" target="_blank" rel="nofollow") Gulp
        | <br/> Automate and enhance your workflow

      li(class="mt20")
        a(href="http://bower.io/" target="_blank" rel="nofollow") Bower
        | <br/>A package manager for the web.

      li(class="mt20")
        a(href="http://jade-lang.com/" target="_blank" rel="nofollow") Jade
        | <br/>Jade is a template language maintained by <a href="https://github.com/ForbesLindesay"  rel="nofollow" target="_blank">@ForbesLindesay</a>

      li(class="mt20")
        | <a href="http://getbootstrap.com/" target="_blank" rel="nofollow">Bootstrap 3</a>
        | <br/>Framework for developing responsive, mobile first projects on the web

      li(class="mt20")
        a(href="https://www.ampproject.org/" target="_blank"  rel="nofollow") Accelerated Mobile Pages Project
        | <br/> An open source initiative that embodies the vision that publishers can create mobile optimized content once and have it load instantly everywhere.

      li(class="mt20")
        a(href="https://www.npmjs.com/package/body-parser" target="_blank" rel="nofollow") body-parser
        | <br/>Node.js body parsing middleware.

      li(class="mt20")
        a(href="https://www.npmjs.com/package/cookie-parser" target="_blank" rel="nofollow") cookie-parser
        | <br/>Cookie parsing with signatures.

      li(class="mt20")
        a(href="https://www.npmjs.com/package/debug" target="_blank" rel="nofollow") debug
        | <br/>Small debugging utility.

      li(class="mt20")
        a(href="https://www.npmjs.com/package/express-session" target="_blank" rel="nofollow") express-session
        | <br/>Simple session middleware for Express

      li(class="mt20")
        a(href="https://www.npmjs.com/package/gulp-json-sass" target="_blank" rel="nofollow") gulp-json-sass
        | <br/>Gulp plugin for turning JSON files into files of scss/sass variable definitions.

      li(class="mt20")
        a(href="https://www.npmjs.com/package/gulp-util" target="_blank" rel="nofollow") gulp-util
        | <br/>Utility functions for gulp plugins

      li(class="mt20")
        a(href="https://www.npmjs.com/package/mongoose" target="_blank" rel="nofollow") mongoose
        | <br/>Mongoose is a MongoDB object modeling tool designed to work in an asynchronous environment.

      li(class="mt20")
        a(href="https://www.npmjs.com/package/morgan" target="_blank" rel="nofollow") morgan
        | <br/>HTTP request logger middleware for node.js

      li(class="mt20")
        a(href="https://www.npmjs.com/package/node-uuid" target="_blank" rel="nofollow") node-uuid
        | <br/>Rigorous implementation of RFC4122 (v1 and v4) UUIDs.

      li(class="mt20")
        a(href="https://www.npmjs.com/package/parseurl" target="_blank" rel="nofollow") parseurl
        | <br/>Parse a url with memoization

      li(class="mt20")
        a(href="https://www.npmjs.com/package/serve-favicon" target="_blank" rel="nofollow") serve-favicon
        | <br/>Favicon serving middleware with caching

      li(class="mt20")
        a(href="https://www.npmjs.com/package/gulp-concat" target="_blank" rel="nofollow") gulp-concat
        | <br/>Concatenates files

      li(class="mt20")
        a(href="https://www.npmjs.com/package/gulp-sass" target="_blank" rel="nofollow") gulp-sass
        | <br/>Gulp plugin for sass

      li(class="mt20")
        a(href="https://www.npmjs.com/package/gulp-uglify" target="_blank" rel="nofollow") gulp-uglify
        | <br/>Minify files with UglifyJS.

    p(class="mt20")
      | It's probable that we have left out some used modules or codes, if you know about one of them, pease tell us on our contact page


  include ../../../ababool_plugins/blog/blogfooter.jade
