div(class="box col-xs-12 col-sm-12 col-md-12 col-lg-12 lightbox")
  h1 Element animations
  h3
    | You can animate any element of a page.

  include ../../../ababool_plugins/blog/blogdata.jade

  div(class="box4")

    p(class="mt20")
      | Animate any element of your page.
      | <br/>The element animation will be triggered when the element becomes visible: when the pages loads or scrolling to the element.

    p(class="mt20")
      | To animate a page element add the <code>animated</code> class and specify the animation effect:

    pre
      | p(class="animated" data-animation="bounceInLeft")


    h4(class="mt20") Animate.css
    p
      | We use the <a href="https://github.com/daneden/animate.css" target="_blank">Daniel Eden animate.css cross-browser library of CSS animations</a>, so
      | you can use all the library effects:

    ul(class="boxes")
      li(class="animated" data-animation="bounceInLeft") bounce
      li(class="animated" data-animation="bounceInLeft") flash
      li(class="animated" data-animation="bounceInLeft") pulse
      li(class="animated" data-animation="bounceInLeft") rubberBand
      li(class="animated" data-animation="bounceInLeft") shake
      li(class="animated" data-animation="bounceInLeft") headShake
      li(class="animated" data-animation="bounceInLeft") swing
      li(class="animated" data-animation="bounceInLeft") tada
      li(class="animated" data-animation="bounceInLeft") wobble
      li(class="animated" data-animation="bounceInLeft") jello
      li(class="animated" data-animation="bounceInLeft") bounceIn
      li(class="animated" data-animation="bounceInLeft") bounceInDown
      li(class="animated" data-animation="bounceInLeft") bounceInLeft
      li(class="animated" data-animation="bounceInLeft") bounceInRight
      li(class="animated" data-animation="bounceInLeft") bounceInUp
      li(class="animated" data-animation="bounceInLeft") bounceOut
      li(class="animated" data-animation="bounceInLeft") bounceOutDown
      li(class="animated" data-animation="bounceInLeft") bounceOutLeft
      li(class="animated" data-animation="bounceInLeft") bounceOutRight
      li(class="animated" data-animation="bounceInLeft") bounceOutUp
      li(class="animated" data-animation="bounceInLeft") fadeIn
      li(class="animated" data-animation="bounceInLeft") fadeInDown
      li(class="animated" data-animation="bounceInLeft") fadeInDownBig
      li(class="animated" data-animation="bounceInLeft") fadeInLeft
      li(class="animated" data-animation="bounceInLeft") fadeInLeftBig
      li(class="animated" data-animation="bounceInLeft") fadeInRight
      li(class="animated" data-animation="bounceInLeft") fadeInRightBig
      li(class="animated" data-animation="bounceInLeft") fadeInUp
      li(class="animated" data-animation="bounceInLeft") fadeInUpBig
      li(class="animated" data-animation="bounceInLeft") fadeOut
      li(class="animated" data-animation="bounceInLeft") fadeOutDown
      li(class="animated" data-animation="bounceInLeft") fadeOutDownBig
      li(class="animated" data-animation="bounceInLeft") fadeOutLeft
      li(class="animated" data-animation="bounceInLeft") fadeOutLeftBig
      li(class="animated" data-animation="bounceInLeft") fadeOutRight
      li(class="animated" data-animation="bounceInLeft") fadeOutRightBig
      li(class="animated" data-animation="bounceInLeft") fadeOutUp
      li(class="animated" data-animation="bounceInLeft") fadeOutUpBig
      li(class="animated" data-animation="bounceInLeft") flipInX
      li(class="animated" data-animation="bounceInLeft") flipInY
      li(class="animated" data-animation="bounceInLeft") flipOutX
      li(class="animated" data-animation="bounceInLeft") flipOutY
      li(class="animated" data-animation="bounceInLeft") lightSpeedIn
      li(class="animated" data-animation="bounceInLeft") lightSpeedOut
      li(class="animated" data-animation="bounceInLeft") rotateIn
      li(class="animated" data-animation="bounceInLeft") rotateInDownLeft
      li(class="animated" data-animation="bounceInLeft") rotateInDownRight
      li(class="animated" data-animation="bounceInLeft") rotateInUpLeft
      li(class="animated" data-animation="bounceInLeft") rotateInUpRight
      li(class="animated" data-animation="bounceInLeft") rotateOut
      li(class="animated" data-animation="bounceInLeft") rotateOutDownLeft
      li(class="animated" data-animation="bounceInLeft") rotateOutDownRight
      li(class="animated" data-animation="bounceInLeft") rotateOutUpLeft
      li(class="animated" data-animation="bounceInLeft") rotateOutUpRight
      li(class="animated" data-animation="bounceInLeft") hinge
      li(class="animated" data-animation="bounceInLeft") rollIn
      li(class="animated" data-animation="bounceInLeft") rollOut
      li(class="animated" data-animation="bounceInLeft") zoomIn
      li(class="animated" data-animation="bounceInLeft") zoomInDown
      li(class="animated" data-animation="bounceInLeft") zoomInLeft
      li(class="animated" data-animation="bounceInLeft") zoomInRight
      li(class="animated" data-animation="bounceInLeft") zoomInUp
      li(class="animated" data-animation="bounceInLeft") zoomOut
      li(class="animated" data-animation="bounceInLeft") zoomOutDown
      li(class="animated" data-animation="bounceInLeft") zoomOutLeft
      li(class="animated" data-animation="bounceInLeft") zoomOutRight
      li(class="animated" data-animation="bounceInLeft") zoomOutUp
      li(class="animated" data-animation="bounceInLeft") slideInDown
      li(class="animated" data-animation="bounceInLeft") slideInLeft
      li(class="animated" data-animation="bounceInLeft") slideInRight
      li(class="animated" data-animation="bounceInLeft") slideInUp
      li(class="animated" data-animation="bounceInLeft") slideOutDown
      li(class="animated" data-animation="bounceInLeft") slideOutLeft
      li(class="animated" data-animation="bounceInLeft") slideOutRight
      li(class="animated" data-animation="bounceInLeft") slideOutUp


  include ../../../ababool_plugins/blog/blogfooter.jade
