

if index=="blog"
  include blog.jade

if index=="blog/hello-world"
  include helloworld.jade

if index=="blog/to-do"
  include todo.jade

if index=="blog/ababool-restful-api"
  include ababool-restful-api.jade

if index=="blog/working-with-pages"
  include working-with-pages.jade

if index=="blog/ababool-comments-system"
  include ababool-comments-system.jade

if index=="blog/ababool-plugins"
  include ababool-plugins.jade
