if index=="blog"
  include blog.jade

if index=="blog/hello-world"
  include helloworld.jade

if index=="blog/ababool-restful-api"
  include ababool-restful-api.jade

if index=="blog/working-with-pages"
  include working-with-pages.jade

if index=="blog/ababool-comments-system"
  include ababool-comments-system.jade

if index=="blog/ababool-plugins"
  include ababool-plugins.jade

if index=="blog/accelerated-mobile-pages"
  include accelerated-mobile-pages.jade

if index=="blog/new-version-1.4.0"
  include new-version-1.4.0.jade

if index=="blog/ababool-in-production-with-nginx-and-pm2"
  include ababool-in-production-with-nginx-and-pm2.jade

if index=="blog/ababool-transitions"
  include ababool-transitions.jade

if index=="blog/ababool-animations"
  include ababool-animations.jade

if index=="blog/ababool-modals"
  include ababool-modals.jade

if index=="blog/ababool-thanks-and-codes"
  include ababool-thanks-and-codes.jade
