div(class="box col-xs-12 col-sm-12 col-md-12 col-lg-12 lightbox")

  h1 New Ababool 1.4.0 version

  include ../../../ababool_plugins/blog/blogdata.jade

  div(class="box4")

    p
      | In this version Ababol becomes easier and clean, improving application development.
      | New features are also integrated to use Ababool as a powerful  CMS / blog.

    h4 Log file:

    p
      | - <strong>Modified ./routes/index.js file:</strong> now the router is clearest and is more easy to add new routes.
    p
      | - <strong>Modifed ./routes/controller.js file:</strong> clean and ordered to make it easier.
    p
      | - <strong>Added ./router/data/helper.js file:</strong>  new reusable module functions to make the controller more easy to work with it.
    p
      | - <strong>New blog funcionality:</strong> we can show all the post tagged with an especific tag in a jade view.
    p
      | - <strong>New tags functionality:</strong> automatic tag pages.
    p
      | - <strong>AMP pages</strong>.
    p
      | - <strong>Ld-JSON schemas integration</strong>.
    p
      | - <strong>RSS integration</strong>.

  include ../../../ababool_plugins/blog/blogfooter.jade
