div(class="box col-xs-12 col-sm-12 col-md-12 col-lg-12 lightbox")
  h1 Things to do
  h3
    | There will always be many outstanding things to do in Ababool

  include ../../../ababool_plugins/blog/blogdata.jade

  div(class="box4")

    h4 TODO list :

    p Create a TODO list :)
