
div(class="box4 blogfooter")

    p
      | This post is written by <a href="/about">Ciro Artigot</a>

    h4 Social
    p
      | Follow us on Twitter: <a href="https://twitter.com/ababooljs" target="_blank">@ababooljs</a>

    h4(class="mt20") Discussions
    p
      | Join the Linked In <a href="https://www.linkedin.com/grp/home?gid=8478122" target="_blank">Discussion group</a>

    h4(class="mt20") Email
    p
      | Dontact us by email: <a href="mailto:info@algosemueve.es" target="_blank">info@algosemueve.es</a>

    h4(class="mt20") Issues
    p
      | Please submit issues to <a href="https://github.com/CiroArtigot/ababool/issues" target="_blank">Git Hub</a>

    h4(class="mt20") Feedbacks
    p
      | <a href="/feedbacks">Give us your feedbacks!</a>
