div(class="box col-xs-12 col-sm-12 col-md-12 col-lg-12 lightbox")
  h1 Hello World
  h3
    | Ababool MEAN Full-Stack is out!

  include ../../../ababool_plugins/blog/blogdata.jade

  div(class="box4")

    p
      | After months of work Ababol MEAN is out.<br/>
    p
      | It's time to share the work with the world.<br/>
    p
      | I hope you like it, I think it's a nice combination of technology and dreams ...<br/>

    h4
      | A tool, a framework ... to develop ideas.


  include ../../../ababool_plugins/blog/blogfooter.jade
