
html,
html a {
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: subpixel-antialiased;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}
body.ababooltheme {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 18px;
    font-weight: 300;
    color: #FFFFFF;
}
body.ababooltheme a {
    color: #FFCC00;
    text-decoration: none;
}
body.ababooltheme a:hover {
    color: #FFF;
    text-decoration: underline;
}
div#pt-main {
    background: url(../images/ababool01p.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #F00;
}
body.ababooltheme h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 60px;
    line-height: 62px;
    font-weight: 300;
}
body.ababooltheme h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 40px;
    line-height: 42px;
    font-weight: 300;
}
body.ababooltheme h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
    line-height: 32px;
    font-weight: 300;
}
body.ababooltheme h4 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 27px;
    line-height: 29px;
    font-weight: 300;
}
body.ababooltheme h1 strong,
body.ababooltheme h2 strong,
body.ababooltheme h3 strong,
body.ababooltheme h4 strong,
body.ababooltheme h5 strong {
    font-weight: 700;
}
.linka {
    color: #006699;
    text-decoration: none;
    cursor: pointer;
}
.linka:hover {
    color: #000;
    text-decoration: underline;
}
.linkb {
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
}
.linkb:hover {
    color: #FFFF00;
    text-decoration: underline;
}
body.ababooltheme h4.white {
    color: #FFFFFF;
}
.linkc {
    color: #006699;
    text-decoration: none;
    cursor: pointer;
}
.linkc:hover {
    color: #006699;
    text-decoration: underline;
}
body.ababooltheme .bs-docs-nav {
    font-size: 18px;
    line-height: 20px;
    font-weight: normal;
    position: absolute;
    background-image: url(../img/white-trans.png);
    background-repeat: repeat;
    width: 100%;
    z-index: 9990;
}
body.ababooltheme .bs-docs-nav a {
    color: #000;
}
body.ababooltheme .bs-docs-nav a:hover {
    color: #000;
}
body.ababooltheme .navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 20px;
    font-size: 18px;
    line-height: 20px;
}
body.ababooltheme .navbar-brand-brand,
body.ababooltheme .brandlogo {
    padding-left: 20px;
}
body.ababooltheme .nav > li > a {
    padding: 15px 15px;
    font-weight: 500;
    border-left: #ccc 1px solid;
}
body.ababooltheme .nav > li > a:hover,
.navbar-brand:hover {
    color: #000000;
}
body.ababooltheme .navbar-brand-ico {
    margin-left: 0;
    padding: 15px 12px;
}
.pt-page-automenu {
    background-color: #018dc8;
    color: #FFFFFF;
}
.pt-page-automenu a,
.pt-page-automenu .navbar-nav > li > a {
    color: #FFFFFF;
}
.pt-page-automenu .navbar-nav > li {
    border-bottom: dotted #FFFFFF 1px;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: #e2e2e2;
    background-image: none;
    border: 1px solid #CCC;
    border-radius: 4px;
    z-index: 9991;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    color: #000;
    background-color: #999;
}
body.ababooltheme .pt-page-automenu {
    background-color: #333;
    color: #FFFFFF;
}
body.ababooltheme .ababool-breadcrumb a {
    color: #000;
    font-size: 13px;
    line-height: 13px;
}
body.ababooltheme .ababool-breadcrumb {
    color: #999;
    font-size: 13px;
    line-height: 13px;
}
body.ababooltheme.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #fff;
    border-radius: 4px;
}
body.ababooltheme ul.list-group-black {
    color: #000;
}
body.ababooltheme ul.list-group-black a {
    color: #006699;
}
body.ababooltheme #home h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 85px;
    line-height: 85px;
    font-weight: 300;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 36px;
}
body.ababooltheme #home h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 55px;
    line-height: 55px;
    font-weight: 300;
    margin-top: 5px;
    margin-bottom: 30px;
}
li {
    font-size: 0.8em;
    margin-bottom: 10px;
    padding: 10px;
}
li span {
    font-weight: bold;
    display: block;
    font-size: 1.2em;
}
aside {
    width: 200px;
    float: right;
    padding: 20px;
    display: table-cell;
}
aside h2 {
    margin-bottom: 3px;
}
section {
    display: table-cell;
}
li.even {
    background-color: #d5d5d5;
}
li.odd {
    background-color: #d5d5ff;
}
.preloader.ng-hide {
    transition: 0.5s linear all;
    opacity: 0;
}
.container.ng-hide {
    transition: 0.5s linear all;
    opacity: 0;
}
.container {
    transition: 2s linear all;
    opacity: 1;
}
.navigator {
    z-index: 9991;
    height: 90px;
    width: 90px;
    position: absolute;
    background-color: #000;
    border-radius: 150px;
    right: 5px;
    bottom: 45px;
    opacity: 0.80;
}
.navigator:hover {
    opacity: 1;
}
.navigator .glyphicon,
.navigator a {
    font-size: 30px;
    font-weight: 700;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}
.navigator .navdisabled .glyphicon,
.navigator a.navdisabled {
    color: #333;
}
.navigator a:hover .glyphicon {
    color: #FFFF00;
}
.navigator a.navdisabled:hover .glyphicon {
    color: #333;
}
.arrow_left,
.arrow_right {
    height: 100px;
    float: left;
    padding-top: 30px;
    width: 30px;
}
.arrow_right {
    float: right;
}
.arrow_up,
.arrow_down {
    height: 30px;
    float: left;
    width: 30px;
}
.arrow_down {
    padding-top: 30px;
}

#home {
    background: url(../images/ababool01.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
}
#home a {}#home a:hover {}#what {
    background: url(../images/ababool02.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
}
#what a {}#what a:hover {}#why {
    background: url(../images/ababool03.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
}
#why a {}#why a:hover {} .pt-current {
    z-index: 9997;
}
