#navigator(ng-show="navigator")
  div(class="navigator" ng-show="navigator")
    div(class="navigator_arrow arrow_right" ng-show="navright" ng-click="gotopage(right)")
      span(class="glyphicon glyphicon-chevron-right")
    div(class="navigator_arrow arrow_left" ng-show="navleft" ng-click="gotopage(left)")
      span(class="glyphicon glyphicon-chevron-left")
    div(class="navigator_arrow arrow_up" ng-show="navup" ng-click="gotopage(up)")
      span(class="glyphicon glyphicon-chevron-up")
    div(class="navigator_arrow arrow_down" ng-show="navdown" ng-click="gotopage(down)")
      span(class="glyphicon glyphicon-chevron-down")
