div(class="box col-xs-12 col-sm-12 col-md-10 col-lg-8 darkbox")

  h1 Contact us

  div(class="box3")

    div(class="ibox")
      img(src="images/twitter.png" class="icon")
      p
        | <br/><a href="https://twitter.com/ciroartigot" target="blank" class="adark">@ciroartigot</a> on Twitter
      div(class="clearfix")

    div(class="ibox")
      img(src="images/linkedin.png" class="icon")
      p
        | <a href="https://twitter.com/ciroartigot" target="blank" class="adark">Ciro Artigot</a> on linked in
        | <br/>Join our  <a href="https://www.linkedin.com/grp/home?gid=8478122" target="blank" class="adark">disscusion group</a> on linked in
      div(class="clearfix")

    div(class="ibox")
      img(src="images/mail.png" class="icon")
      p
        | <br/>By email: <a href="mailto:info@algosemueve.es" target="blank">info@algosemueve.es</a>
      div(class="clearfix")

    div(class="ibox")
      img(src="images/github.png" class="icon")
      p
        | <br/>Submit issues to <a href="https://github.com/CiroArtigot/ababool/issues" target="blank">Git Hub</a>
      div(class="clearfix")

    div(class="ibox")
      img(src="images/comments.png" class="icon")
      p
        | <br/><span class="link" ng-click="gotopage('feedbacks',32)">Give us your feedbacks!</span>
      div(class="clearfix")
