

.md-modal-1 {
    height: auto;
    right: 50%;
    margin-right: -150px;
    width: 300px;
    top: 100px;
    background-color: #fff;
    padding: 10px;
    padding-top: 0;
    border: 5px #006699 solid;
}

	.overlay-theme-1 {
		background-color: #000;
		opacity: 0.5;
		filter: alpha(opacity = 50);
	}

  .close {
    background-color: #fff;
    opacity: 0.8;
  }

	.md-modal-2 {
	    height: auto;
	    left: 0;
	    width: 100%;
	    bottom: 43px;
	    background-color: #B71111;
	    color: #fff;
	    padding-left: 8px;
	    font-size: 13px;
	    line-height: 20px;
	    padding-bottom: 0;
	}
	.md-modal-2 a{
		color: #fff;
	}

	.md-modal-3 {
			height:auto;
			left: 0;
			width: 350px;
			bottom: 43px;
			background-color: #000;
			color: #FFF;
			padding: 20px;
      border:4px solid #f2f2f2;
	}
	.md-modal-3 a{
		color: #fff;
	}

	.md-modal-4 {
	    height: auto;
	    right: 50%;
	    margin-right: -150px;
	    width: 300px;
	    top: 100px;
	    background-color: #fff;
	    padding: 10px;
	    padding-top: 0;
	    border: 5px #006699 solid;
	}
