

ul#footer {
    list-style-type: none;
    display: inline-flex;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    background-color: #000;
    opacity: 0.95;
    margin: 0;
    font-size: 0.9em;
}

.footerli {
    cursor: pointer;
    padding: 10px;
}

.footerli{
  color: #e2e2e2;
}

.footerli:hover {
  color: #fff;
}
