div(class="box col-xs-12 col-sm-12 col-md-10 col-lg-8 lightbox")
  h1 Navigator Plugin
  h3
    | You can navigate to the left, right, up and down between the ababool pages.
  h4
    | This is the down page<br/>
    | Use the navigator to go up
