body,
html {
    padding: 0;
    margin: 0;
    height: 100%;
}
body {
    overflow: auto;
}
.pt-perspective {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.pt-page {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    visibility: visible;
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
    overflow-y: auto;
    display: block;
    z-index: 1;
}

.pt-currentout {
    z-index: 9998;
}
.pt-current {
    z-index: 9997;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}

.container.ng-hide {
    transition: 0.5s linear all;
    opacity: 0;
}
.container {
    transition: 2s linear all;
    opacity: 1;
}
