
div(class="box col-xs-12 col-sm-12 col-md-10 col-lg-8 darkbox")
  h1 Wow!
  h3 64 different transitions

  | <button type="button" class="btn ababtn btn-success "  ng-click="gotopage('transitions2',1)">Show me data animation 1</button>
  | <button type="button" class="btn ababtn btn-info "  ng-click="gotopage('transitions2',2)">Show me data animation 2</button>
  | <button type="button" class="btn ababtn btn-primary "  ng-click="gotopage('transitions2',3)">Show me data animation 3</button>
  | <button type="button" class="btn ababtn btn-info "  ng-click="gotopage('transitions2',4)">Show me data animation 4</button>
  | <button type="button" class="btn ababtn btn-success "  ng-click="gotopage('transitions2',5)">Show me data animation 5</button>
  | <button type="button" class="btn ababtn btn-warning "  ng-click="gotopage('transitions2',6)">Show me data animation 6</button>
  | <button type="button" class="btn ababtn btn-danger "  ng-click="gotopage('transitions2',7)">Show me data animation 7</button>
  | <button type="button" class="btn ababtn btn-danger "  ng-click="gotopage('transitions2',8)">Show me data animation 8</button>
  | <button type="button" class="btn ababtn btn-info "  ng-click="gotopage('transitions2',9)">Show me data animation 9</button>
  | <button type="button" class="btn ababtn  btn-primary "  ng-click="gotopage('transitions2',10)">Show me data animation 10</button>
  | <button type="button" class="btn ababtn btn-primary "  ng-click="gotopage('transitions2',11)">Show me data animation 11</button>
  | <button type="button" class="btn ababtn btn-info "  ng-click="gotopage('transitions2',12)">Show me data animation 12</button>
  | <button type="button" class="btn ababtn btn-success "  ng-click="gotopage('transitions2',13)">Show me data animation 13</button>
  | <button type="button" class="btn ababtn btn-warning "  ng-click="gotopage('transitions2',14)">Show me data animation 14</button>
  | <button type="button" class="btn ababtn btn-danger "  ng-click="gotopage('transitions2',15)">Show me data animation 15</button>
  | <button type="button" class="btn ababtn btn-danger "  ng-click="gotopage('transitions2',16)">Show me data animation 16</button>
  | <button type="button" class="btn ababtn btn-info "  ng-click="gotopage('transitions2',17)">Show me data animation 17</button>
  | <button type="button" class="btn ababtn  btn-primary "  ng-click="gotopage('transitions2',18)">Show me data animation 18</button>
  | <button type="button" class="btn ababtn btn-primary "  ng-click="gotopage('transitions2',19)">Show me data animation 19</button>
  | <button type="button" class="btn ababtn btn-info "  ng-click="gotopage('transitions2',20)">Show me data animation 20</button>
  | <button type="button" class="btn ababtn btn-success "  ng-click="gotopage('transitions2',21)">Show me data animation 21</button>
  | <button type="button" class="btn ababtn btn-warning "  ng-click="gotopage('transitions2',22)">Show me data animation 22</button>
  | <button type="button" class="btn ababtn btn-danger "  ng-click="gotopage('transitions2',23)">Show me data animation 23</button>
  | <button type="button" class="btn ababtn btn-danger "  ng-click="gotopage('transitions2',24)">Show me data animation 24</button>
  | <button type="button" class="btn ababtn btn-info "  ng-click="gotopage('transitions2',25)">Show me data animation 25</button>
  | <button type="button" class="btn ababtn  btn-primary "  ng-click="gotopage('transitions2',26)">Show me data animation 26</button>
  | <button type="button" class="btn ababtn btn-primary "  ng-click="gotopage('transitions2',27)">Show me data animation 27</button>
  | <button type="button" class="btn ababtn btn-info "  ng-click="gotopage('transitions2',28)">Show me data animation 28</button>
  | <button type="button" class="btn ababtn btn-success "  ng-click="gotopage('transitions2',29)">Show me data animation 29</button>
  | <button type="button" class="btn ababtn btn-warning "  ng-click="gotopage('transitions2',30)">Show me data animation 30</button>
  | <button type="button" class="btn ababtn btn-danger "  ng-click="gotopage('transitions2',31)">Show me data animation 31</button>
  | <button type="button" class="btn ababtn btn-danger "  ng-click="gotopage('transitions2',32)">Show me data animation 32</button>
  | <button type="button" class="btn ababtn btn-info "  ng-click="gotopage('transitions2',33)">Show me data animation 33</button>
  | <button type="button" class="btn ababtn  btn-primary "  ng-click="gotopage('transitions2',34)">Show me data animation 34</button>
  | <button type="button" class="btn ababtn btn-primary "  ng-click="gotopage('transitions2',35)">Show me data animation 35</button>
  | <button type="button" class="btn ababtn btn-info "  ng-click="gotopage('transitions2',36)">Show me data animation 36</button>
  | <button type="button" class="btn ababtn btn-success "  ng-click="gotopage('transitions2',37)">Show me data animation 37</button>
  | <button type="button" class="btn ababtn btn-warning "  ng-click="gotopage('transitions2',38)">Show me data animation 38</button>
  | <button type="button" class="btn ababtn btn-danger "  ng-click="gotopage('transitions2',39)">Show me data animation 39</button>
  | <button type="button" class="btn ababtn btn-danger "  ng-click="gotopage('transitions2',40)">Show me data animation 40</button>
  | <button type="button" class="btn ababtn btn-info "  ng-click="gotopage('transitions2',41)">Show me data animation 41</button>
  | <button type="button" class="btn ababtn  btn-primary "  ng-click="gotopage('transitions2',42)">Show me data animation 42</button>
  | <button type="button" class="btn ababtn btn-primary "  ng-click="gotopage('transitions2',43)">Show me data animation 43</button>
  | <button type="button" class="btn ababtn btn-info "  ng-click="gotopage('transitions2',44)">Show me data animation 44</button>
  | <button type="button" class="btn ababtn btn-success "  ng-click="gotopage('transitions2',45)">Show me data animation 45</button>
  | <button type="button" class="btn ababtn btn-warning "  ng-click="gotopage('transitions2',46)">Show me data animation 46</button>
  | <button type="button" class="btn ababtn btn-danger "  ng-click="gotopage('transitions2',47)">Show me data animation 47</button>
  | <button type="button" class="btn ababtn btn-danger "  ng-click="gotopage('transitions2',48)">Show me data animation 48</button>
  | <button type="button" class="btn ababtn btn-info "  ng-click="gotopage('transitions2',49)">Show me data animation 49</button>
  | <button type="button" class="btn ababtn btn-info "  ng-click="gotopage('transitions2',50)">Show me data animation 50</button>
  | <button type="button" class="btn ababtn btn-info "  ng-click="gotopage('transitions2',51)">Show me data animation 51</button>
  | <button type="button" class="btn ababtn btn-info "  ng-click="gotopage('transitions2',52)">Show me data animation 52</button>
  | <button type="button" class="btn ababtn btn-info "  ng-click="gotopage('transitions2',53)">Show me data animation 53</button>
  | <button type="button" class="btn ababtn btn-info "  ng-click="gotopage('transitions2',54)">Show me data animation 54</button>
  | <button type="button" class="btn ababtn btn-info "  ng-click="gotopage('transitions2',55)">Show me data animation 55</button>
  | <button type="button" class="btn ababtn btn-info "  ng-click="gotopage('transitions2',56)">Show me data animation 56</button>
  | <button type="button" class="btn ababtn btn-info "  ng-click="gotopage('transitions2',57)">Show me data animation 57</button>
  | <button type="button" class="btn ababtn btn-info "  ng-click="gotopage('transitions2',58)">Show me data animation 58</button>
  | <button type="button" class="btn ababtn btn-info "  ng-click="gotopage('transitions2',59)">Show me data animation 59</button>
  | <button type="button" class="btn ababtn btn-info "  ng-click="gotopage('transitions2',60)">Show me data animation 60</button>
  | <button type="button" class="btn ababtn btn-info "  ng-click="gotopage('transitions2',61)">Show me data animation 61</button>
  | <button type="button" class="btn ababtn btn-info "  ng-click="gotopage('transitions2',62)">Show me data animation 62</button>
  | <button type="button" class="btn ababtn btn-info "  ng-click="gotopage('transitions2',63)">Show me data animation 63</button>
  | <button type="button" class="btn ababtn btn-info "  ng-click="gotopage('transitions2',64)">Show me data animation 64</button>
  | <button type="button" class="btn ababtn btn-info "  ng-click="gotopage('transitions2',65)">Show me data animation 65</button>
  | <button type="button" class="btn ababtn btn-info "  ng-click="gotopage('transitions2',66)">Show me data animation 66</button>
  | <button type="button" class="btn ababtn btn-info "  ng-click="gotopage('transitions2',67)">Show me data animation 67</button>
