
div(class="box col-xs-12 col-sm-12 col-md-10 col-lg-8 darkbox")
  h1 Ababoolpage transitions
  h3 The Ababool pages can use 64 different animations and CSS3 transition

  | <button type="button" class="btn ababtn btn-success animated" data-animation="bounceInRight"  ng-click="gotopage('transitions',1)">Show me data animation 1</button>
  | <button type="button" class="btn ababtn btn-info animated" data-animation="bounceInRight"  ng-click="gotopage('transitions',2)">Show me data animation 2</button>
  | <button type="button" class="btn ababtn btn-primary animated" data-animation="bounceInRight"  ng-click="gotopage('transitions',3)">Show me data animation 3</button>
  | <button type="button" class="btn ababtn btn-info animated" data-animation="bounceInRight"  ng-click="gotopage('transitions',4)">Show me data animation 4</button>
  | <button type="button" class="btn ababtn btn-success animated" data-animation="bounceInRight"  ng-click="gotopage('transitions',5)">Show me data animation 5</button>
  | <button type="button" class="btn ababtn btn-warning animated" data-animation="bounceInRight"  ng-click="gotopage('transitions',6)">Show me data animation 6</button>
  | <button type="button" class="btn ababtn btn-danger animated" data-animation="bounceInRight"  ng-click="gotopage('transitions',7)">Show me data animation 7</button>
  | <button type="button" class="btn ababtn btn-danger animated" data-animation="bounceInRight"  ng-click="gotopage('transitions',8)">Show me data animation 8</button>
  | <button type="button" class="btn ababtn btn-info animated" data-animation="bounceInRight"  ng-click="gotopage('transitions',9)">Show me data animation 9</button>
  | <button type="button" class="btn ababtn  btn-primary animated" data-animation="bounceInRight"  ng-click="gotopage('transitions',10)">Show me data animation 10</button>
  | <button type="button" class="btn ababtn btn-primary animated" data-animation="bounceInRight"  ng-click="gotopage('transitions',11)">Show me data animation 11</button>
  | <button type="button" class="btn ababtn btn-info animated" data-animation="bounceInRight"  ng-click="gotopage('transitions',12)">Show me data animation 12</button>
  | <button type="button" class="btn ababtn btn-success animated" data-animation="bounceInRight"  ng-click="gotopage('transitions',13)">Show me data animation 13</button>
  | <button type="button" class="btn ababtn btn-warning animated" data-animation="bounceInRight"  ng-click="gotopage('transitions',14)">Show me data animation 14</button>
  | <button type="button" class="btn ababtn btn-danger animated" data-animation="bounceInRight"  ng-click="gotopage('transitions',15)">Show me data animation 15</button>
  | <button type="button" class="btn ababtn btn-danger animated" data-animation="bounceInRight" ng-click="gotopage('transitions',16)">Show me data animation 16</button>
  | <button type="button" class="btn ababtn btn-info animated" data-animation="bounceInRight"  ng-click="gotopage('transitions',17)">Show me data animation 17</button>
  | <button type="button" class="btn ababtn  btn-primary animated" data-animation="bounceInRight"  ng-click="gotopage('transitions',18)">Show me data animation 18</button>
  | <button type="button" class="btn ababtn btn-primary animated" data-animation="bounceInRight"  ng-click="gotopage('transitions',19)">Show me data animation 19</button>
  | <button type="button" class="btn ababtn btn-info animated" data-animation="bounceInRight"  ng-click="gotopage('transitions',20)">Show me data animation 20</button>
  | <button type="button" class="btn ababtn btn-success animated" data-animation="bounceInRight"  ng-click="gotopage('transitions',21)">Show me data animation 21</button>
  | <button type="button" class="btn ababtn btn-warning animated" data-animation="bounceInRight"  ng-click="gotopage('transitions',22)">Show me data animation 22</button>
  | <button type="button" class="btn ababtn btn-danger animated" data-animation="bounceInRight"  ng-click="gotopage('transitions',23)">Show me data animation 23</button>
  | <button type="button" class="btn ababtn btn-danger animated" data-animation="bounceInRight"  ng-click="gotopage('transitions',24)">Show me data animation 24</button>
  | <button type="button" class="btn ababtn btn-info animated" data-animation="bounceInRight"  ng-click="gotopage('transitions',25)">Show me data animation 25</button>
  | <button type="button" class="btn ababtn  btn-primary animated" data-animation="bounceInRight"  ng-click="gotopage('transitions',26)">Show me data animation 26</button>
  | <button type="button" class="btn ababtn btn-primary animated" data-animation="bounceInRight"  ng-click="gotopage('transitions',27)">Show me data animation 27</button>
  | <button type="button" class="btn ababtn btn-info animated" data-animation="bounceInRight"  ng-click="gotopage('transitions',28)">Show me data animation 28</button>
  | <button type="button" class="btn ababtn btn-success animated" data-animation="bounceInRight" ng-click="gotopage('transitions',29)">Show me data animation 29</button>
  | <button type="button" class="btn ababtn btn-warning animated" data-animation="bounceInRight"  ng-click="gotopage('transitions',30)">Show me data animation 30</button>
  | <button type="button" class="btn ababtn btn-danger animated" data-animation="bounceInRight"  ng-click="gotopage('transitions',31)">Show me data animation 31</button>
  | <button type="button" class="btn ababtn btn-danger animated" data-animation="bounceInRight"  ng-click="gotopage('transitions',32)">Show me data animation 32</button>
  | <button type="button" class="btn ababtn btn-info animated" data-animation="bounceInRight"  ng-click="gotopage('transitions',33)">Show me data animation 33</button>
  | <button type="button" class="btn ababtn  btn-primary animated" data-animation="bounceInRight"  ng-click="gotopage('transitions',34)">Show me data animation 34</button>
  | <button type="button" class="btn ababtn btn-primary animated" data-animation="bounceInRight"  ng-click="gotopage('transitions',35)">Show me data animation 35</button>
  | <button type="button" class="btn ababtn btn-info animated" data-animation="bounceInRight"  ng-click="gotopage('transitions',36)">Show me data animation 36</button>
  | <button type="button" class="btn ababtn btn-success animated" data-animation="bounceInRight"  ng-click="gotopage('transitions',37)">Show me data animation 37</button>
  | <button type="button" class="btn ababtn btn-warning animated" data-animation="bounceInRight"  ng-click="gotopage('transitions',38)">Show me data animation 38</button>
  | <button type="button" class="btn ababtn btn-danger animated" data-animation="bounceInRight"  ng-click="gotopage('transitions',39)">Show me data animation 39</button>
  | <button type="button" class="btn ababtn btn-danger animated" data-animation="bounceInRight"  ng-click="gotopage('transitions',40)">Show me data animation 40</button>
  | <button type="button" class="btn ababtn btn-info animated" data-animation="bounceInRight"  ng-click="gotopage('transitions',41)">Show me data animation 41</button>
  | <button type="button" class="btn ababtn  btn-primary animated" data-animation="bounceInRight"  ng-click="gotopage('transitions',42)">Show me data animation 42</button>
  | <button type="button" class="btn ababtn btn-primary animated" data-animation="bounceInRight"  ng-click="gotopage('transitions',43)">Show me data animation 43</button>
  | <button type="button" class="btn ababtn btn-info animated" data-animation="bounceInRight"  ng-click="gotopage('transitions',44)">Show me data animation 44</button>
  | <button type="button" class="btn ababtn btn-success animated" data-animation="bounceInRight"  ng-click="gotopage('transitions',45)">Show me data animation 45</button>
  | <button type="button" class="btn ababtn btn-warning animated" data-animation="bounceInRight"  ng-click="gotopage('transitions',46)">Show me data animation 46</button>
  | <button type="button" class="btn ababtn btn-danger animated" data-animation="bounceInRight"  ng-click="gotopage('transitions',47)">Show me data animation 47</button>
  | <button type="button" class="btn ababtn btn-danger animated" data-animation="bounceInRight"  ng-click="gotopage('transitions',48)">Show me data animation 48</button>
  | <button type="button" class="btn ababtn btn-info animated" data-animation="bounceInRight"  ng-click="gotopage('transitions',49)">Show me data animation 49</button>
  | <button type="button" class="btn ababtn btn-info animated" data-animation="bounceInRight"  ng-click="gotopage('transitions',50)">Show me data animation 50</button>
  | <button type="button" class="btn ababtn btn-info animated" data-animation="bounceInRight"  ng-click="gotopage('transitions',51)">Show me data animation 51</button>
  | <button type="button" class="btn ababtn btn-info animated" data-animation="bounceInRight"  ng-click="gotopage('transitions',52)">Show me data animation 52</button>
  | <button type="button" class="btn ababtn btn-info animated" data-animation="bounceInRight"  ng-click="gotopage('transitions',53)">Show me data animation 53</button>
  | <button type="button" class="btn ababtn btn-info animated" data-animation="bounceInRight"  ng-click="gotopage('transitions',54)">Show me data animation 54</button>
  | <button type="button" class="btn ababtn btn-info animated" data-animation="bounceInRight"  ng-click="gotopage('transitions',55)">Show me data animation 55</button>
  | <button type="button" class="btn ababtn btn-info animated" data-animation="bounceInRight"  ng-click="gotopage('transitions',56)">Show me data animation 56</button>
  | <button type="button" class="btn ababtn btn-info animated" data-animation="bounceInRight"  ng-click="gotopage('transitions',57)">Show me data animation 57</button>
  | <button type="button" class="btn ababtn btn-info animated" data-animation="bounceInRight"  ng-click="gotopage('transitions',58)">Show me data animation 58</button>
  | <button type="button" class="btn ababtn btn-info animated" data-animation="bounceInRight"  ng-click="gotopage('transitions',59)">Show me data animation 59</button>
  | <button type="button" class="btn ababtn btn-info animated" data-animation="bounceInRight"  ng-click="gotopage('transitions',60)">Show me data animation 60</button>
  | <button type="button" class="btn ababtn btn-info animated" data-animation="bounceInRight"  ng-click="gotopage('transitions',61)">Show me data animation 61</button>
  | <button type="button" class="btn ababtn btn-info animated" data-animation="bounceInRight"  ng-click="gotopage('transitions',62)">Show me data animation 62</button>
  | <button type="button" class="btn ababtn btn-info animated" data-animation="bounceInRight"  ng-click="gotopage('transitions',63)">Show me data animation 63</button>
  | <button type="button" class="btn ababtn btn-info animated" data-animation="bounceInRight"  ng-click="gotopage('transitions',64)">Show me data animation 64</button>
  | <button type="button" class="btn ababtn btn-info animated" data-animation="bounceInRight"  ng-click="gotopage('transitions',65)">Show me data animation 65</button>
  | <button type="button" class="btn ababtn btn-info animated" data-animation="bounceInRight"  ng-click="gotopage('transitions',66)">Show me data animation 66</button>
  | <button type="button" class="btn ababtn btn-info animated" data-animation="bounceInRight"  ng-click="gotopage('transitions',67)">Show me data animation 67</button>
