
if index=="blog"
  include blog/blog.jade

if index=="blog/accelerated-mobile-pages"
  include blog/accelerated-mobile-pages.jade

if index=="blog/hello-world"
  include blog/helloworld.jade

if index=="blog/ababool-restful-api"
  include blog/ababool-restful-api.jade

if index=="blog/ababool-comments-system"
  include blog/ababool-comments-system.jade

if index=="blog/working-with-pages"
  include blog/working-with-pages.jade

if index=="blog/ababool-plugins"
  include blog/ababool-plugins.jade

if index=="tag"
  include tags/tag.jade

if index=="blog/new-version-1.4.0"
  include blog/new-version-1.4.0.jade

if index=="blog/ababool-in-production-with-nginx-and-pm2"
  include blog/ababool-in-production-with-nginx-and-pm2.jade

if index=="blog/ababool-transitions"
  include blog/ababool-transitions.jade

if index=="blog/ababool-animations"
  include blog/ababool-animations.jade

if index=="blog/ababool-modals"
  include blog/ababool-modals.jade

if index=="blog/ababool-thanks-and-codes"
  include blog/ababool-thanks-and-codes.jade
