

html,
html a {
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: subpixel-antialiased;
}

body  {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 300;
}

div#pt-main {
  background-color: #333;
  background: url(../images/bright-squares.png) repeat;

}

.pt-page {
  padding-top: 70px;
  color: #fff;
  padding-bottom: 40px;
}

#home {
  background: url(../images/diamond-upholstery.png) repeat;
  background-color: #333; color: #FFF;
}
#what {
  background: url(../images/diamond-upholstery.png) repeat;
  background-color: #006699; color: #000;
}
#wow {
  background: url(../images/diamond-upholstery.png) repeat;
  background-color: #006699; color: #000;
}
#how {
  background: url(../images/diamond-upholstery.png) repeat;
  background-color: red; color: #000;
}
#with {
  background: url(../images/diamond-upholstery.png) repeat;
  background-color: green; color: #000;
}
#todo {
  background: url(../images/diamond-upholstery.png) repeat;
  background-color: #006699; color: #000;
}
#start {
  background: url(../images/diamond-upholstery.png) repeat;
  background-color: red; color: #000;
}

#transitions {
  background: url(../images/diamond-upholstery.png) repeat;
  background-color: orange; color: #000;
}
#transitions2 {
  background: url(../images/diamond-upholstery.png) repeat;
  background-color: #006699; color: #000;
}

#about {
  background: url(../images/bright-squares.png) repeat;
  background-color: #fff; color: #000}

#license {
  background: url(../images/diamond-upholstery.png) repeat;
  background-color: #006699; color: #000}

  #youtube,
#suscribe,
#ajax1,
#mainmenu,
#contact {
  background: url(../images/diamond-upholstery.png) repeat;
  background-color: #006699; color: #000}

#feedbacks, #form {
  background: url(../images/brick-wall-dark.png) repeat;
  background-color: #999;
}

button.btn.ababtn {
    width: 300px;
    margin-bottom: 5px;
}

h4-2
button.btn.ababtn {
    width: 275px;
    margin-bottom: 5px;
}

h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 85px;
    line-height: 88px;
    font-weight: 300;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 15px;
}

h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 55px;
    line-height: 58px;
    font-weight: 300;
    margin-top: 5px;
    margin-bottom: 30px;
}

h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 45px;
    line-height: 48px;
    font-weight: 300;
    margin-top: 5px;
    margin-bottom: 20px;
}

h4 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 29px;
    line-height: 34px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 5px;
}

.h4-2 {
  color: #fff;
  margin-left: 15px;
  margin-top: 20px;
}
.h4-2 a {
  color: #fff;
  text-decoration: underline;
}

p {
    margin-bottom: 5px;
}

span.link{
    cursor: pointer;
    color: #006699;
}
span.link:hover{
  text-decoration: underline;
}

.box {.box-comment {
    background-color: #fff;
    color: #000;
    padding: 10px;
    margin-bottom: 1px;
}
  padding-bottom: 60px;
}
.box2 {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    color: #000;
    margin-bottom: 10px;
    margin-top: 10px;
}
.box3 {
    color: #fff;
    margin-bottom: 10px;
    margin-top: 10px;
}
.box4 {
    color: #000;
    margin-bottom: 10px;
    margin-top: 10px;
}

.box-comment {
    background-color: #fff;
    color: #000;
    padding: 10px;
    margin-bottom: 1px;
}
.name {
    font-weight: bold;
}
.comment {
    font-style: italic;
}
.darkbox{
  color: #fff;
}
.lightbox{
  color: #000;
}

.mr20{
  margin-right: 20px;
}

ul.list-group.list-group-black {
    color: #000;
}


@media screen and (max-width: 480px) {
  h1 {
      font-family: 'Open Sans Condensed', sans-serif;
      font-size: 55px;
      line-height: 58px;
      font-weight: 300;
      padding-bottom: 0;
      margin-bottom: 0;
      margin-top: 15px;
  }

  h2 {
      font-family: 'Open Sans Condensed', sans-serif;
      font-size: 45px;
      line-height: 48px;
      font-weight: 300;
      margin-top: 5px;
      margin-bottom: 20px;
  }

  h3 {
      font-family: 'Open Sans Condensed', sans-serif;
      font-size: 35px;
      line-height: 38px;
      font-weight: 300;
      margin-top: 5px;
      margin-bottom: 20px;
  }
}
