doctype html
html(ng-app="ababool")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/ababool.css')
  body(ng-controller="ababoolCtrl")
    block content
    script(src='/javascripts/ababool.min.js')
