
div(class="box col-xs-12 col-sm-12 col-md-10 col-lg-8")
  h1 Ababool
  h3
    | An open source, creative and smart<br/>
    | MEAN Javascript Full-Stack Solution<br/>
    | for dreaming Single Page Web Applications

  h3 Ababool likes:

  h4(class="mt20") Nodejs
  p Event-driven I/O server-side JavaScript environment based on V8.

  h4(class="mt20") Express
  p Fast, unopinionated, minimalist web framework

  h4(class="mt20") Gulp
  p The streaming build system

  h4(class="mt20") Bower
  p The browser package manager

  h4(class="mt20") Mongodb
  p The leading NoSQL database, empowering businesses to be more agile and scalable.

  h4(class="mt20") Angularjs
  p AngularJS is what HTML would have been, had it been designed for building web-apps.

  h4(class="mt20") Sass
  p An extension of CSS that adds power and elegance to the basic language.

  h4(class="mt20") Jade HTML
  p An elegant templating language focused on enabling quick HTML coding.

  h4(class="mt20") npm
  p A package manager for JavaScript

  h4(class="mt20") pm2
  p Production process manager for Node.JS applications with a built-in load balancer.
