div(class="box col-xs-12 col-sm-12 col-md-10 col-lg-8 lightbox")
  h1 Start
  h3
    | Create your Ababool web app!

  div(class="box4")
    h4 Ababool on Git hub
    p
      | You can clone the <a href="https://github.com/CiroArtigot/ababool"
      | target="blank">Ababool Repository on Git Hub</a> or
      | install Ababool with the Ababool App generator (recommended).

    h4(class="mt20") Prerequisite technologies
    p
      | Ababool is a MEAN Full-Satck solution, do you must install NodeJS and MongoDB before.

    h4(class="mt20") Prerequisite packages
    p
      | Ababool uses Gulp and Bower, so you would need to install both:<br/>
      | <code>$&nbsp;sudo&nbsp;npm&nbsp;install&nbsp;-g&nbsp;gulp</code><br/>
      | <code>$&nbsp;sudo&nbsp;npm&nbsp;install&nbsp;-g&nbsp;bower</code>

    h4(class="mt20") Installation
    p
      | <code>$&nbsp;sudo&nbsp;npm&nbsp;install&nbsp;-g&nbsp;ababool-generator</code>

    h4(class="mt20") Quick Start
    p
      | The quickest way to get started with express is to utilize the executable
      | to generate an application as shown below:<br/>
    h4(class="mt20")  Create the app:
    p
      | <code>$&nbsp;ababool&nbsp;/tmp/foo&nbsp;&amp;&amp;&nbsp;cd&nbsp;/tmp/foo</code>

    h4(class="mt20") Install dependencies:
    p
      | <code>$&nbsp;npm&nbsp;install</code>

    h4(class="mt20") Gulp it!:
    p
      | <code>$&nbsp;gulp</code>

    h4(class="mt20") Rock and Roll
    p
      | <code>$&nbsp;npm&nbsp;start</code>
