div(class="box col-xs-12 col-sm-12 col-md-10 col-lg-8 darkbox")
  h1 What is Ababool?
  h4
    | Main Features and aspects of Ababool.<br/>
    | Open source, creative and smart MEAN Javascript Full-Stack Solution.

  ul(class="list-group list-group-black mt20")

    li(class="list-group-item")
      h4 Simple, efficient and elegant
      p
        | Ababool is designed to develop beautiful, powerful and functional sites.<br/>
        | Ababool combines HTML5 and CSS3 transitions to achieve that nice web navigation.

    li(class="list-group-item")
      h4 A tool for creative developers
      p
        | Web calculators, corporate websites, personal brand, presentations,
        | web publications, microsites, blogs, magazines, stories, portfolios...<br/>
        | A tool to develop ideas!!

    li(class="list-group-item")
      h4 Single Web Page  Application - AJAX
      p
        | <strong>Ababool</strong> is a <em><strong>Single Web Page Application</strong></em>
        | so only loads one page. The page does not reload at any point in the process.<br/>
        | All the new content is retrieved using <strong>AJAX</strong> calls,
        | keeping the user all the time in the same page with no reloads.

    li(class="list-group-item")
      h4 SEO friendly
      p
        | Each content (page or view) can have its own personality
        | (<strong>URL, title, canocical, next/previous page, description,....</strong>),
        | and can be called separately.<br/>
        | We could say that <strong>Ababool </strong>is a
        | <strong>Multiple Single Web Page Application</strong>,
        | because you can enter the application directly to each content (page),
        | obtaining different entries (first pages) to the web application.

    li(class="list-group-item")
      h4 Responsive design
      | <p><strong>Ababool is responsive design, </strong>thought to work on all devices.    </p>

    li(class="list-group-item")
      h4 Ababool Page transitions
      | <p>You can choose among more than 60 incredible transition effects</p>

    li(class="list-group-item")
      h4 Plugins
      | <p><strong>Ababool </strong> system is based on <strong>plugins</strong>, to facilitate the possibility of increasing system functionality.</p>
