div(class="box col-xs-12 col-sm-12 col-md-10 col-lg-8 white")
  h1 What is Ababool?

  h4(class="mt20  animated" data-animation="bounceInLeft") A tool to create web applications
  p(class="mt21  animated" data-animation="fadeInUp")
    | First of all, Ababool is a tool. A tool to develop ideas in web format.
    | <br/>Ababool is thinked to help.

  h4(class="mt20  animated" data-animation="bounceInLeft") A Single Page Application
  p(class="mt21  animated" data-animation="fadeInUp")
    | A single-page application (SPA) is a web application or web site that fits on a single web page with the goal
    | of providing a more fluent user experience similar to a desktop application. In a SPA, either all
    | necessary code – HTML, JavaScript, and CSS – is retrieved with a single page load,
    | or the appropriate resources are dynamically loaded by AJAX and added to the page as necessary,
    | usually in response to user actions.
    | <br> - (Wikipedia)

  h4(class="mt20  animated" data-animation="bounceInRight") A MEAN / JEAN solution
  p(class="mt21  animated" data-animation="fadeInUp")
    | A MEAN solution makes use of MongoDB, Express.js, Angular.js, and Node.js.
    | <br/>We can leave out the MongoDB database and use only JSON: a JEAN solution.

  h4(class="mt20  animated" data-animation="bounceInLeft") A Javascript Full Stack project
  p(class="mt21  animated" data-animation="fadeInUp")
    | All Ababool solution is written in Javascript for both server-side and client-side execution environments.

  h4(class="mt20  animated" data-animation="bounceInRight") Open Source: MIT licensed
  p(class="mt21  animated" data-animation="fadeInUp")
    | Ababool is open source and free: <a href="https://opensource.org/licenses/MIT" class="white" target="blank">MIT licensed</a>.

  h4(class="mt20  animated" data-animation="bounceInLeft") Simple and easy
  p(class="mt21  animated" data-animation="fadeInUp")
    | Ababool is a simple tool. An easy way to learn how to develop with Angular.js, Node.js, Express.js, MongoDB, JSON, AJAX, Gulp, etc..
    | <br/>If it is easy to use, it will be easy to grow!

  h4(class="mt20  animated" data-animation="bounceInRight") Creative and smart
  p(class="mt21  animated" data-animation="fadeInUp")
    | Ababool is nice on the front.
    | <br/>The page transitions, the element animations and the SPA behavior makes Ababool looks like clean, smart and nice.
    | <br/>Ababool is a tool to help developing creative sites.

  h4(class="mt20  animated" data-animation="bounceInLeft") SEO friendly
  p(class="mt21  animated" data-animation="fadeInUp")
    | Ababool is a tool for develop SPA (according to what has been said above),
    | but also it offers the possibility that each page is requested separately.
    | Each Ababool page can have its own URL, Title, Description, canonical and other needed SEO and social metas.
    | <br/>Ababool integrates AMP HTML pages and JSON-ld schemas.

  h4(class="mt20  animated" data-animation="bounceInLeft") Designed to adapt and grow
  p(class="mt21  animated" data-animation="fadeInUp")
    | Ababool is based on plugins.
    | <br/>Thought for developing different kinds of web sites, the Babool plugins lets to easily adapt to the needs.
